<section class="register">
  <div class="header">
    <h3>Inscrever-se</h3>
    <p>É rápido e fácil</p>
  </div>

  <div class="body">
    <form #form="ngForm">
      <div class="user_name">
        <input type="text" placeholder="Nome" name="fname" ngModel>
        <input type="text" placeholder="Sobrenome" name="lname" ngModel>
      </div>

      <div class="email_password">
        <input type="text" placeholder="Email" name="email" ngModel>
        <input type="text" placeholder="Image Url" name="avatar" ngModel>
        <input type="password" placeholder="Senha" name="password" ngModel>
      </div>

      <p>Ao clicar em Inscrever-se, você concorda com nossos Termos, Política de Dados e Política de Cookies. Você pode receber notificações por SMS nossas e pode cancelar a qualquer momento.</p>

      <button type="submit" class="submit-button" [mat-dialog-close]="form.value">Inscrever-se</button>
    </form>
  </div>
</section>
